<div class="row-fluid">
    <div class="modal-header">
        <h3 class="modal-title">Select assets</h3>
    </div>

    <div class="modal-body">
        <table class="table table-striped">
            <thead>
                <th></th>
                <th>Display Name</th>
                <th>Description</th>
            </thead>
            <tbody>
                <tr data-ng-repeat="asset in setModel.assets">
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-ng-model="asset.selected">
                            </label>
                        </div>
                    </td>
                    <td><span data-ng-bind="asset.displayName"></span></td>
                    <td><span data-ng-bind="asset.description"></span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" data-ng-click="cancel()">Cancel</button>
    </div>
</div>