<html>
    <div class="container-fluid">
        <nav class="navbar navbar-default" data-ng-controller="NavigationController">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Projects</a></li>
                        <li><a class="active" href="#">Collections</a></li>
                        <li><a href="#">Assets</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="row-fluid">
            <form class="form-inline col-md-offset-1">
                <div class="form-group">
                    <label for="searchBy">Search by:</label>
                    <select id="searchBy" data-ng-model="searchBO.searchCriteria" class="form-control"
                            data-ng-options="searchCriteria.value for searchCriteria in searchCriterias"></select>
                </div>
                <div class="form-group">
                    <label for="matchCriteria">Match criteria:</label>
                    <select id="matchCriteria" data-ng-model="searchBO.matchCriteria" class="form-control"
                            data-ng-options="matchCriteria.value for matchCriteria in matchCriterias"></select>
                </div>
                <div class="form-group">
                    <label for="lastModified">Last modified:</label>
                    <input type="text" data-ng-model="searchBO.fromDate" placeholder="2015/08/23" class="form-control">
                    <input type="text" data-ng-model="searchBO.toDate" placeholder="2015/08/25" class="form-control">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
        <div class="row-fluid" style="border: 1px solid grey; border-radius: 2px; padding: 3px; overflow: auto;">
            <div class="col-md-3">
                <img alt="asset-placeholder" src="img-placeholder.png" width="150" height="100">
            </div>
            <div class="col-md-3">
                <h3>Coldplay</h3>
                <p>Viva la Vida</p>
            </div>
            <div class="col-md-3">
                <h3>2015-08-23</h3>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</html>
