<div class="row-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Create <span data-ng-bind="assetModel.headerMessage"></span></h3>
        </div>

        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="rdfClass" class="col-sm-1 control-label">Asset type:</label>
                    <div class="col-sm-3">
                        <input type="text" id="rdfClass" data-ng-model="assetModel.rdfClass"
                               data-typeahead="rdfClass for rdfClass in rdfClasses | filter:$viewValue | limitTo: 8"
                               class="form-control" placeholder="e.g. menu catalogue">
                    </div>
                </div>
            </div>

            <div class="row-fluid" data-ng-include="assetModel.template"></div>
        </div>
    </div>
</div>