<div class="row-fluid">
    <div class="panel panel-primary">
       <div class="panel-heading">
           <h3 class="panel-title">Search for the assets</h3>
       </div>

       <div class="panel-body">
           <form class="form-inline">
               <div class="form-group">
                   <label for="searchProperty">Search by:</label>
                   <select id="searchProperty" data-ng-model="searchBO.searchProperty" class="form-control"
                           data-ng-options="searchProperty.value as searchProperty.name  for searchProperty in searchProperties"></select>
               </div>
               <div class="form-group">
                   <label for="rdfClass">Type:</label>
                   <input type="text" id="rdfClass" data-ng-model="searchBO.rdfClass" data-typeahead="rdfClass for rdfClass in rdfClasses | filter:$viewValue | limitTo: 8" class="form-control">
               </div>
               <div class="form-group">
                   <label for="lastModified">Last modified:</label>
                   <p class="input-group" style="padding-top: 10px;">
                       <input type="text" class="form-control" data-datepicker-popup="dd-MMMM-yyyy" data-ng-model="searchBO.fromDate"
                           data-is-open="datepickerSettings.isFromOpened" 
                           data-min-date="minDate" data-max-date="datepickerSettings.maxDate"
                           data-datepicker-options="datepickerSettings.dateOptions"
                           data-date-disabled="disabled(date, mode)" 
                           data-ng-required="true" data-close-text="Close"/>
                       <span class="input-group-btn">
                           <button type="button" class="btn btn-default" data-ng-click="open($event, 'from')" style="height: 34px;"><i class="glyphicon glyphicon-calendar"></i></button>
                       </span>
                   </p>
                   <p class="input-group" style="padding-top: 10px;">
                       <input type="text" class="form-control" data-datepicker-popup="dd-MMMM-yyyy" data-ng-model="searchBO.toDate"
                           data-is-open="datepickerSettings.isToOpened" 
                           data-min-date="minDate" data-max-date="datepickerSettings.maxDate"
                           data-datepicker-options="datepickerSettings.dateOptions"
                           data-date-disabled="disabled(date, mode)" 
                           data-ng-required="true" data-close-text="Close"/>
                       <span class="input-group-btn">
                           <button type="button" class="btn btn-default" data-ng-click="open($event, 'to')"  style="height: 34px;"><i class="glyphicon glyphicon-calendar"></i></button>
                       </span>
                   </p>
               </div>
               <div class="form-group">
                   <label for="matchCriteria">Match:</label>
                   <select id="matchCriteria" data-ng-model="searchBO.matcher" class="form-control"
                           data-ng-options="matchValue.value as matchValue.value for matchValue in matchValues"></select>
               </div>
               <div class="form-group">
                   <input type="text" class="form-control" data-ng-model="searchBO.searchValue">
               </div>
               <div class="form-group">
                   <label for="limitSelector">Limit:</label>
                   <select id="limitSelector" data-ng-model="searchBO.limit" class="form-control"
                           data-ng-options="limit.value as limit.value for limit in limits"></select>
               </div>
               <div class="form-group">
                   <label for="orderSelector">Order</label>
                       <select id="orderSelector" data-ng-model="searchBO.sortDirection" class="form-control"
                               data-ng-options="sortDirection.value as sortDirection.value for sortDirection in sortDirections"></select>
               </div>
               <button type="button" class="btn btn-primary" data-ng-click="search();">Search</button>
           </form>

           <div class="row-fluid">
               <table class="table table-striped">
                   <thead>
                       <th>Display Name</th>
                       <th>Description</th>
                       <th>Creation Date</th>
                       <th>Rdf Class</th>
                   </thead>
                   <tbody>
                       <tr data-ng-repeat="project in projects">
                           <td><span data-ng-bind="project.displayName"></span></td>
                           <td><span data-ng-bind="project.description"></span></td>
                           <td><span>{{project.creationDate | date : 'dd-MMMM-yyyy'}}</span></td>
                           <td><span data-ng-bind="project.rdfClass"></span></td>
                       </tr>
                   </tbody>
               </table>
           </div>

           <div class="row-fluid" data-ng-if="moreThanOnePageExists();">
               <pagination data-total-items="paginationSettings.totalItems"
                    data-ng-model="searchBO.pageNumber"
                    data-items-per-page="searchBO.limit"
                    data-max-size="paginationSettings.maxSize"
                    class="pagination-sm"
                    data-boundary-links="paginationSettings.boundaryLinks"
                    data-rotate="paginationSettings.rotate"
                    data-ng-change="search();"></pagination>
               <pre>Page: {{searchBO.pageNumber}} / {{calculateTotalPageAmount()}}</pre>
           </div>
       </div>
   </div>
</div>