<div class="row-fluid">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="displayName" class="col-sm-1 control-label">Display name:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="displayName" data-ng-model="asset.displayName">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-1 control-label">Description:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="description" data-ng-model="asset.description">
            </div>
        </div>
        <div class="form-group">
            <label for="variant" class="col-sm-1 control-label">Variant:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="variant" data-ng-model="asset.variant">
            </div>
        </div>
        <div class="form-group">
            <label for="version" class="col-sm-1 control-label">Version:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="version" data-ng-model="asset.version">
            </div>
        </div>
        <div class="form-group">
            <label for="status" class="col-sm-1 control-label">Status:</label>
            <div class="col-sm-3">
                <select class="form-control" id="status" data-ng-model="asset.status"
                         data-ng-options="status.value as status.name for status in assetStatuses"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-5">
                <button type="button" class="btn btn-primary col-sm-3" data-ng-click="addSet('planogramSet', true);">Planogram Set</button>
                <button type="button" class="btn btn-primary col-sm-3 col-sm-offset-1" data-ng-click="showSelection();">Show Selection</button>
            </div>
            <hr>
            <div class="row-fluid col-sm-offset-1 col-sm-3" data-collapse="isCollapsed">
                <div class="well well-lg">
                    <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="planogram in asset.planogramSet">
                            <a href="assets/{{planogram.id}}"><span data-ng-bind="planogram.description"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-5">
                <button type="button" class="btn btn-primary col-sm-3">Furniture Set</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-5">
                <button type="button" class="btn btn-primary col-sm-3">Point of Sale Set</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-5">
                <button type="button" class="btn btn-primary col-sm-3" data-ng-click="addSet('scenerySet', true);">Scenery Set</button>
                <button type="button" class="btn btn-primary col-sm-3 col-sm-offset-1" data-ng-click="showSelection();">Show Selection</button>
            </div>
            <hr>
            <div class="row-fluid col-sm-offset-1 col-sm-3" data-collapse="isCollapsed">
                <div class="well well-lg">
                    <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="scenery in asset.scenerySet">
                            <a href="assets/{{scenery.id}}"><span data-ng-bind="scenery.description"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-5">
                <button type="button" class="btn btn-primary col-sm-3" data-ng-click="addSet('imageSet', true);">Image Set</button>
                <button type="button" class="btn btn-primary col-sm-3 col-sm-offset-1" data-ng-click="showSelection();">Show Selection</button>
            </div>
            <hr>
            <div class="row-fluid col-sm-offset-1 col-sm-3" data-collapse="isCollapsed">
                <div class="well well-lg">
                    <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="image in asset.imageSet">
                            <a href="assets/{{image.id}}"><span data-ng-bind="image.description"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-5">
                <button type="button" class="btn btn-primary col-sm-3" data-ng-click="addSet('productSet', true);">Product Set</button>
                <button type="button" class="btn btn-primary col-sm-3 col-sm-offset-1" data-ng-click="showSelection();">Show Selection</button>
            </div>
            <hr>
            <div class="row-fluid col-sm-offset-1 col-sm-3" data-collapse="isCollapsed">
                <div class="well well-lg">
                    <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="product in asset.productSet">
                            <a href="assets/{{product.id}}"><span data-ng-bind="product.description"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-5">
                <button type="button" class="btn btn-primary col-sm-3">Fixture Set</button>
            </div>
        </div>
        <div class="form-group">
            <label for="createdAt" class="col-sm-1 control-label">Created At:</label>
            <div class="col-sm-3">
                <span>{{asset.createdAt | date : 'dd-MMMM-yyyy'}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="createdBy" class="col-sm-1 control-label">Created By:</label>
            <div class="col-sm-3">
                <span>{{asset.createdBy | date : 'dd-MMMM-yyyy'}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="modifiedAt" class="col-sm-1 control-label">Modified At:</label>
            <div class="col-sm-3">
                <span>{{asset.modifiedAt | date : 'dd-MMMM-yyyy'}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="modifiedBy" class="col-sm-1 control-label">Modified By:</label>
            <div class="col-sm-3">
                <span>{{asset.modifiedBy | date : 'dd-MMMM-yyyy'}}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-5">
                <button type="button" class="btn btn-primary col-sm-1" data-ng-click="save();">Save</button>
            </div>
        </div>
    </div>
</div>
