<div class="row-fluid">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="displayName" class="col-sm-1 control-label">Display name:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="displayName" data-ng-model="asset.displayName">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-1 control-label">Description:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="description" data-ng-model="asset.description">
            </div>
        </div>
        <div class="form-group">
            <label for="variant" class="col-sm-1 control-label">Variant:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="variant" data-ng-model="asset.variant">
            </div>
        </div>
        <div class="form-group">
            <label for="version" class="col-sm-1 control-label">Version:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="version" data-ng-model="asset.version">
            </div>
        </div>
        <div class="form-group">
            <label for="status" class="col-sm-1 control-label">Status:</label>
            <div class="col-sm-3">
                <select class="form-control" id="status" data-ng-model="asset.status"
                         data-ng-options="status.value as status.name for status in assetStatuses"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="width" class="col-sm-1 control-label">Width:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="width" data-ng-model="asset.width">
            </div>
        </div>
        <div class="form-group">
            <label for="depth" class="col-sm-1 control-label">Depth:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="depth" data-ng-model="asset.depth">
            </div>
        </div>
        <div class="form-group">
            <label for="height" class="col-sm-1 control-label">Height:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="height" data-ng-model="asset.height">
            </div>
        </div>
        <div class="form-group">
            <label for="gtin8" class="col-sm-1 control-label">GTIN-8:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="gtin8" data-ng-model="asset.gtin8">
            </div>
        </div>
        <div class="form-group">
            <label for="gtin12" class="col-sm-1 control-label">GTIN-12:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="gtin8" data-ng-model="asset.gtin12">
            </div>
        </div>
        <div class="form-group">
            <label for="gtin13" class="col-sm-1 control-label">GTIN-13:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="gtin8" data-ng-model="asset.gtin13">
            </div>
        </div>
        <div class="form-group">
            <label for="gtin8" class="col-sm-1 control-label">GTIN-14:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="gtin14" data-ng-model="asset.gtin14">
            </div>
        </div>
        <div class="form-group">
            <label for="upca" class="col-sm-1 control-label">UPC-A:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="upca" data-ng-model="asset.upca">
            </div>
        </div>
        <div class="form-group">
            <label for="upcb" class="col-sm-1 control-label">UPC-B:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="upcb" data-ng-model="asset.upcb">
            </div>
        </div>
        <div class="form-group">
            <label for="createdAt" class="col-sm-1 control-label">Created At:</label>
            <div class="col-sm-3">
                <span>{{asset.createdAt | date : 'dd-MMMM-yyyy'}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="createdBy" class="col-sm-1 control-label">Created By:</label>
            <div class="col-sm-3">
                <span>{{asset.createdBy | date : 'dd-MMMM-yyyy'}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="modifiedAt" class="col-sm-1 control-label">Modified At:</label>
            <div class="col-sm-3">
                <span>{{asset.modifiedAt | date : 'dd-MMMM-yyyy'}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="modifiedBy" class="col-sm-1 control-label">Modified By:</label>
            <div class="col-sm-3">
                <span>{{asset.modifiedBy | date : 'dd-MMMM-yyyy'}}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-5">
                <button type="button" class="btn btn-primary col-sm-1" data-ng-click="save();">Save</button>
            </div>
        </div>
    </div>
</div>
