<div class="row-fluid">
    <div class="form-horizontal">
        <div class="form-group">
            <label for="displayName" class="col-sm-1 control-label">Display name:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="displayName" data-ng-model="asset.displayName">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-1 control-label">Description:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="description" data-ng-model="asset.description">
            </div>
        </div>
        <div class="form-group">
            <label for="variant" class="col-sm-1 control-label">Variant:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="variant" data-ng-model="asset.variant">
            </div>
        </div>
        <div class="form-group">
            <label for="version" class="col-sm-1 control-label">Version:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="version" data-ng-model="asset.version">
            </div>
        </div>
        <div class="form-group">
            <label for="status" class="col-sm-1 control-label">Status:</label>
            <div class="col-sm-3">
                <select class="form-control" id="status" data-ng-model="asset.status"
                         data-ng-options="status.value as status.name for status in assetStatuses"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="createdAt" class="col-sm-1 control-label">Created At:</label>
            <div class="col-sm-3">
                <span>{{asset.createdAt | date : 'dd-MMMM-yyyy'}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="createdBy" class="col-sm-1 control-label">Created By:</label>
            <div class="col-sm-3">
                <span>{{asset.createdBy | date : 'dd-MMMM-yyyy'}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="modifiedAt" class="col-sm-1 control-label">Modified At:</label>
            <div class="col-sm-3">
                <span>{{asset.modifiedAt | date : 'dd-MMMM-yyyy'}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="modifiedBy" class="col-sm-1 control-label">Modified By:</label>
            <div class="col-sm-3">
                <span>{{asset.modifiedBy | date : 'dd-MMMM-yyyy'}}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-5">
                <button type="button" class="btn btn-primary col-sm-1" data-ng-click="save();">Save</button>
            </div>
        </div>
    </div>
</div>
